#find <string> will be the attribute used when calling grep: grep <attribute> <file>
find volume


#file <string> will be the file used when calling grep.
file analysis.txt

#file <string> will determine which file to look at, when submitting
#a job
jobfile job

#username <string> should be the username of the your current shell environment
username mad_max


#maximum_iterations <integer> will be the maximum iterations the program will
#run until halted
max_iterations 20


#volume_difference <float> Required float difference before program halts
#
#Note, the program will halt if maximum_iterations is met regardless of required
#volume difference
volume_difference .5

#minimum_number_of_volumes <integer>
#
#During the grep call, if there are only <integer> number of volumes returned
#the program will halt.
minimum_number_of_volumes 2


#verbose <boolean> Tells the program whether to print out a variety
#of data at runtime. Useful for debugging and keeping up with the system.
verbose True


#delete_files_which_contains <string> Deletes any files in the current directory that
#have the associated string within their filename
delete_file_which_contains testvasp


#error_file <string> This string will be the file that will be checked
#for errors during runtime. The string does not have to be verbatim
#as currently the script looks the for the latest file that contains
#the string within it's filename
error_file testvasp


#error <string> Checks for this string within the error file.
error ZBRENT: fatal internal in brackting


#do_when_error <string> Will execute the string as a system call by default.
#This command will execute if the error string is found within the error file
do_when_error mv CONTCAR POSCAR
